*.pyc
*.swp
*.py~
*.ipynb
pytest/htmlcov
pytest/.cache
.pytest_cache/
.coverage
.cache/
__pycache__/
.ipynb_checkpoints/
.DS_Store
*.png
*.mp4
/tests/test_qrt/
/tests/random_tests/
/tests/random_tests_res/
.eggs/
RootFinding.egg-info/
