*.pyc
*.swp
*.py~
*.ipynb
*.npy
*.npz
*.png
*.mp4
tests/random_tests/
tests/test_qrt/
pytest/htmlcov
pytest/.cache
.pytest_cache/
.coverage
.cache/
__pycache__/
.ipynb_checkpoints/
.DS_Store
*.png
*.mp4
/tests/test_qrt/
/tests/random_tests/
/tests/random_tests_res/
.eggs/
RootFinding.egg-info/
Time_plots/*
*.csv
.gitignore
*.pdf
.vs/
tests/Constant_term_testing/
tests/Progress_testing/
yroots/.vs/
Tester.py